<div class="container" id="roadmap_di_prodotto">
    <h3>4 Roadmap di prodotto</h3>
    <p>
        Geo4B Telco WEB è la soluzione verticale, basata su Geo4B Core, per la 
        gestione delle reti di telecomunicazioni, essenzialmente in fibra ottica, pensata 
        a supporto delle aziende che progettano e realizzano la rete o semplicemente 
        la possiedono e la esercitano.
        La licenza d'uso del prodotto da diritto all'installazione di tutte le release che 
        verranno rilasciate sia per la componente Core sia per il verticale Telco.
        La roadmap della soluzione prevede il rilascio di una nuova release di prodotto 
        ad ogni quarter, con relativo aggiornamento di tutte le installazioni fornite ai 
        diversi clienti anche se EBWorld si riserva la possibilità di rilasciare delle minor 
        release intermedi sulle quali si interviene essenzialmente introducendo 
        miglioramenti nella grafica del prodotto e/o nella su UX.
        Il presente Manuale Utente è riferito alla distribuzione WEB di Geo4B Telco per 
        cui tutte le funzionalità descritte in roadmap, anche se presenti eventualmente 
        in altre distribuzioni del prodotto, fanno riferimento a quest'ultima.
        La roadmap di prodotto attuale prevede.
    </p>
</div>
<div class="container" id="geo4b_telco_1.1">
    <h3>4.1 Geo4B telco 1.1(Q2-2024)</h3>
    <ul>
        <li>
            <strong> SELEZIONE OGGETTI</strong><img src="arrow-right.svg" alt="right arrow icon svg"> Nella release 1.1 verrà aggiornata una versione 
            aggiornata dello strumento, nella quale sia migliorata la User Experience, 
            nello specifico il menù di disambiguazione sarà attivato sulla parte Sx 
            dell'interfaccia, subito sotto lo strumento di ricerca di Google, sarà 
            gestito raggruppando in macro-gruppi gli oggetti appartenenti allo 
            stesso livello per migliorare la “lettura” del dato, sarà possibile 
            evidenziare gli elementi, posizionarsi sugli stessi ed infine aprire la 
            Scheda di Dettaglio dell'elemento. Anche la Scheda di Dettaglio verrà 
            aperta su una sezione a Sx che si attiverà “sopra” il menù di 
            disambiguazione.
        </li>
        <li>
            <strong> STILE DESIGN LIVELLI ESTERNI</strong> <img src="arrow-right.svg" alt="right arrow icon svg"> Nella release 1.1 verrà implementato 
            uno strumento evoluto che permetterà di configurare in modo più 
            esteso lo stile di rappresentazione degli elementi dei livelIi caricati da file 
            esterni. In particolare lo strumento, in funzione della geometria 
            dell'elemento, permetterà di impostare colori, tipo di linea, pattern,
            spessori, ecc. su un set predefinito di opzioni che verranno arricchite 
            nelle release successive.
        </li>
    </ul>
</div>

<div class="container" id="geo4b_telco_1.2">
    <h3>4.2 Geo4b telco 1.2(Q3-2024)</h3>
    <ul>
        <li>
            <strong>TOOL QUERY WIZARD</strong><img src="arrow-right.svg" alt="right arrow icon svg"> Nella release 1.2 verrà introdotto uno strumento 
            per costruire ed eseguire delle query complesse sul sistema del tutto 
            simile al Query Wizard presente nel Client Desktop di PNI. Lo strumento 
            offre due opportunità, quella di creare attraverso un meccanismo a 
            Wizard una query complessa che acceda a dati dei layer pre-configurati 
            e ai dati dei layer da file esterno, andando ad impostare gli opportuni filtri 
            sugli attributi alfanumerici e geometrici, e quella di salvare le ricerche in 
            modo da poter rieseguire le stesse query a distanza di tempo. Così come 
            per gli altri strumenti descritti nel presente documento le query 
            potranno essere create e salvate come PUBBLICHE o PRIVATE in funzione 
            del profilo utente. Dall'elenco dei risultati è possibile fare il 
            posizionamento su mappa agendo sull'apposito bottone a fianco del 
            singolo record, ed eseguire anche l'export dei risultati, limitato agli 
            elementi visualizzati per pagina, il cui numero è impostato agendo su 
            “Elementi per pagina”, nei formati PDF, CSV e XLS. 
        </li>
        <li>
            <strong> TOOL DI GESTIONE DEGLI SKETCHES</strong> <img src="arrow-right.svg" alt="right arrow icon svg">Nella release 1.2 verrà introdotto 
            uno strumento per gestire gli sketches, cioè per disegnare sulla mappa 
            forme geometriche e testi, per salvare quanto disegnato e 
            successivamente per pubblicare ed eventualmente condividere gli
            stessi. Lo strumento può essere utilizzato per “fissare” su mappa appunti, 
            ipotesi di progettazione ecc. ad uso della struttura del cliente. Così come 
            per gli altri strumenti descritti nel presente documento gli sketches 
            potranno essere creati e salvati come PUBBLICI o PRIVATI in funzione del 
            profilo utente
        </li>
        <li>
            <strong> LIVELLO AGGIUNTIVO DA FILE </strong><img src="arrow-right.svg" alt="right arrow icon svg"> La funzionalità sarà aggiornata nella 
            release 1.2 adottando una diversa modalità di upload del file (asincrono 
            vs. sincrono) al fine di superare gli attuali limiti sulle dimensioni. La 
            modalità operativa sarà leggermente diversa dalle attuali.
        </li>
        li
    </ul>
</div>