<!--wrapper della navbar-->
<header class="navbar-wrapper">
    <!--navbar con classi di bootstrap-->
    <nav class="navbar navbar-expand-lg fixed-top text-white navbar-nav">
        <!--container fluid per farla responsive-->
        <div class="container-fluid">
            <!--navbar brand (logo e redirect a home)-->
            <a [routerLink]="['/']" class="navbar-brand">
                <img src="ebw-logo-bg_yellow.jpeg" alt="Logo EBW" class="logo">
            </a>

            <!--burger menu per espansione navbar quando schermo piccolo-->
            <div id="navbar-toggler" (click)="toggleNavbar()" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

            <!--tutti i menù dropdown (voci della navbar)-->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item dropdown" (mouseover)="onFadeDropDown('aboutDropdown')" (mouseleave)="onMouseLeaveNavbar('aboutDropdown')" (click)="openDropdown('aboutDropdown')">
                        <a class="nav-link dropdown-toggle" href="https://www.ebw.it/" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="aboutDropdown" id="aboutDropdownList">
                            <li data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><a class="dropdown-item" href="https://www.ebw.it/chi-siamo/" (click)="toggleNavbar()">Chi siamo</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown" (mouseover)="onFadeDropDown('productGuideDropdown')" (mouseleave)="onMouseLeaveNavbar('productGuideDropdown')" (click)="openDropdown('productGuideDropdown')">
                        <a class="nav-link dropdown-toggle" id="productGuideDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Product Guide
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="productGuideDropdown" id="productGuideDropdownList">
                            <li data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><a class="dropdown-item" [routerLink]="['/geo4btelco', 'intro']" (click)="toggleNavbar()">Geo4B Telco</a></li>
                            <li data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><a class="dropdown-item" [routerLink]="['/geo4bwater', 'intro']" (click)="toggleNavbar()">Geo4B Water</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="contact" [routerLink]="['/contattaci']" aria-haspopup="true" type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="openDropdown('contact')">
                            Contattaci
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
