/* .navbar-wrapper
{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  background-color: #2a2e43;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.navbar
{
  background-color: #2a2e43;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 4px rgba(240, 240, 240, 0.24);
  
  padding-left: 15px;
  padding-right: 15px;
}

.nav-link
{
  color: white;
}

.nav-link:hover
{
  color: #A8C22E;
}

.logo 
{
  width: 100px;
  font-size: larger;
  font-weight: bold;
  border-radius: 15px;
  transition: transform 0.3s ease;
  margin-right: 20px;
}

/* 
@media screen and (min-width: 1050px)
{
  .logo
  {
    width: 250px;
  }
}
*/

.logo:hover 
{
  transform: scale(1.1);

}

.menu-item 
{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  cursor: pointer;
  margin-left: 0.5rem;
}

.menu-item:hover 
{
  background-color: #0056b3;
  color: #fff;
  border: 2px solid #fff;
}

.menu-container 
{
  display: flex;
}

.section 
{
  padding-top: 5rem;
}

body 
{
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding-top: 6rem;
  background-color: #f8f9fa;
  color: #333;
}

.container 
{
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

/* img.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
} */

.dropdown-menu-end 
{
  right: 0;
  left: auto;
}

/* Animazione di apertura */
.dropdown-menu 
{
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.show 
{
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Animazione di chiusura */
@keyframes fadeOut 
{
  from 
  {
      opacity: 1;
      transform: translateY(0);
  }
  to 
  {
      opacity: 0;
      transform: translateY(-10px);
  }
}

.dropdown-menu.closing 
{
  animation: fadeOut 0.3s ease forwards;
}

.navbar-toggler 
{
  border:none;
  border: solid white 1px;
}

/* .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-close-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3E%3Cpath fill='white' d='M242.7 256l100.1-100.1c12.3-12.3 12.3-32.2 0-44.5l-22.2-22.2c-12.3-12.3-32.2-12.3-44.5 0L176 189.3 75.9 89.2c-12.3-12.3-32.2-12.3-44.5 0L9.2 111.5c-12.3 12.3-12.3 32.2 0 44.5L109.3 256 9.2 356.1c-12.3 12.3-12.3 32.2 0 44.5l22.2 22.2c12.3 12.3 32.2 12.3 44.5 0L176 322.7l100.1 100.1c12.3 12.3 32.2 12.3 44.5 0l22.2-22.2c12.3-12.3 12.3-32.2 0-44.5L242.7 256z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
} */


/* General styles for the bars */
.navbar-toggler {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

/* Transformations for the 'X' state */
.change-bar1 
{
  transform: rotate(43deg) translate(4px, 5px);
}

.change-bar2 {
  opacity: 0;
  display: none;
}

.change-bar3 
{
  transform: rotate(-44deg) translate(4px, -3px);
}

/* Optional: Ensure the button does not interfere with the dropdown menus */
.navbar-toggler:focus {
  outline: none;
}


@media (max-width: 992px) 
{
  .navbar-collapse 
  {
    background-color: #2A2E43;
  }

  .nav-link 
  {
    color: white;
  }
}