<header class="header">
  <a href="#" class="logo-link">
    <img src="ebworld-logo.png" alt="Logo EBW" class="logo">
</a>
  <div class="menu-container">
    <button mat-button [matMenuTriggerFor]="aboveMenu" class="menu-item">About</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Cosa facciamo</button>
        <button mat-menu-item>Chi siamo</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu" class="menu-item">Product Guide</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="setSelectedMenu('geo4btelco')">Geo4B Telco</button>
        <button mat-menu-item (click)="setSelectedMenu('geo4bwater')">Geo4B Water</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu" class="menu-item">Contattaci</button>
    <mat-menu #beforeMenu="matMenu" yPosition="below">
        <button mat-menu-item>
            <a href="mailto:info@ebw.it">Mandaci una mail</a>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="chiamaci">Chiamaci</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="afterMenu" class="menu-item">Vieni a trovarci</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <a mat-menu-item href="https://www.google.it/maps/place/EBWorld+s.r.l./@43.9014259,12.8567781,20.25z/data=!4m63m51s0x132d1e81610cc4cf:0x5f661f4b289d96e28m23d43.9013474d12.85711116s%2Fg%2F1tl6nnxr?entry=ttu">Maps</a>
    </mat-menu>

    <mat-menu #chiamaci="matMenu">
        <button mat-menu-item>+39 0721 25089</button>
    </mat-menu>
</div>
</header>

<header>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="navId" role="tablist">
        <li class="nav-item">
            <a href="#tab1Id" class="nav-link active" data-bs-toggle="tab" aria-current="page">Active</a>
        </li>
        
        <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Dropdown</a
            >
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#tab2Id">Action</a>
                <a class="dropdown-item" href="#tab3Id">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#tab4Id">Action</a>
            </div>
        </li>
        <li class="nav-item" role="presentation">
            <a href="#tab5Id" class="nav-link" data-bs-toggle="tab"
                >Another link</a
            >
        </li>
        <li class="nav-item" role="presentation">
            <a href="#" class="nav-link disabled" data-bs-toggle="tab"
                >Disabled</a
            >
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab1Id" role="tabpanel">
            
        </div>
        <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab4Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
    </div>
    
    <!-- (Optional) - Place this js code after initializing bootstrap.min.js or bootstrap.bundle.min.js -->
    <script>
        var triggerEl = document.querySelector("#navId a");
        bootstrap.Tab.getInstance(triggerEl).show(); // Select tab by name
    </script>
    
</header>