
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  background-color: #2a2e43;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: auto;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  width: 150px;
  font-weight: bold;
  color: #007bff;
  background-color: #fff;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

@media screen and (max-width: 1050px)
{
  .logo
  {
    width: 100px;
  }
}

.logo:hover {
  transform: scale(1.1);
}

.menu-item {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  cursor: pointer;
  margin-left: 0.5rem;
}

.menu-item:hover {
  background-color: #0056b3;
  color: #fff;
  border: 2px solid #fff;
}

.menu-container {
  display: flex;
}


.section {
  padding-top: 5rem;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding-top: 5rem;
  background-color: #f8f9fa;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

img.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s ease;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: auto;
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

@keyframes openDropdown 
{
  
  0%
  {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  100%
  {
    opacity: 1;
    visibility: visible;
    display: block;
  } 
}

@keyframes closeDropdown 
{
  0%
  {
    opacity: 1;
    visibility: visible;
    display: block;
  } 
  
  100%
  {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.dropdown-menu {
  display: none;
  opacity: 0;
  position: absolute;
  will-change: opacity, visibility, display;
  transition: closeDropdown 0.8s ease-out;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  transition: openDropdown 0.8s ease-in;
  visibility: visible;
  opacity:1;
}


.dropdown-content { 
	/* display: none; */ 
	height: 0; 
	overflow: hidden; 
	opacity: 0; 
	transition: opacity 0.3s ease; 
} 

 
.dropdown:hover .dropdown-content { 
	/* display: block; */ 
	height: auto; 
	opacity: 1; 
}
