<footer class="footer">
    <div class="footer-wrapper">
        <div class="align-center">
            <h3>Informazioni di Contatto</h3>
            <ul class="contact-info">
                <li><i class="fa fa-map-marker-alt"></i> Strada degli Olmi, 16/4 61122 Pesaro (PU)</li>
                <li><i class="fa fa-phone"></i><a href="tel:+39 0721 25089">+39 0721 25089</a></li>
                <li><i class="fa fa-envelope"></i><a href="mailto:info@ebw.it">Mail</a></li>
            </ul>
        </div>

        <div class="align-center">
            <h3>Seguici</h3>
            <div class="social-icons">
                <a href="https://www.facebook.com/EBWteam/"><i class="fab fa-facebook"></i></a>
                <a href="https://x.com/ebworld_team"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/ebworld_srl/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/ebworld/"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
