<div id="roadmap" class="container">
    <h3>4. Roadmap di prodotto</h3>
    <p>
        Geo4B Water WEB è la soluzione verticale, basata su Geo4B Core, per la 
        gestione delle reti idrica e fognaria, pensata a supporto delle aziende che 
        gestiscono il ciclo integrato dell'acqua.
        La licenza d'uso del prodotto da diritto all’installazione di tutte le release che 
        verranno rilasciate sia per la componente Core sia per il verticale Water.
        La policy di gestione delle release prevede il rilascio di una nuova release di 
        prodotto ad ogni quarter, con relativo aggiornamento di tutte le installazioni 
        fornite ai diversi clienti.
        Il presente Manuale Utente è riferito alla distribuzione WEB di Geo4B Water 
        per cui tutte le funzionalità descritte in roadmap, anche se presenti 
        eventualmente in altre distribuzioni del prodotto, fanno riferimento a 
        quest'ultima.
        La roadmap di prodotto attuale prevede.
    </p>
</div>

<div class="container" id="q2">
    <h3>4.1 Geo4B water 1.1 (Q2-2024)</h3>
    <ul>
        <li>
            <strong> LE MIE QUERY </strong> <img src="arrow-right.svg" alt="right arrow icon svg"> Nella release 1.1 verrà rilasciata una versione aggiornata 
            dello strumento, nella quale sia migliorata la User Experience di 
            interazione con gli oggetti risultanti dalla ricerca. In particolare sarà 
            possibile sia la selezione singola sia la selezione multipla dei record 
            elencati nella Scheda Risultati, la conseguente evidenziazione su mappa 
            degli stessi. Lo strumento permetterà il posizionamento sul singolo 
            oggetto (Selezione Singola+GoTo) o su più oggetti (Selezione 
            Multipla+GoTo) e l’apertura della Scheda di Dettaglio del singolo record.
        </li>
        <li>
            <strong> SELEZIONE OGGETTI </strong> <img src="arrow-right.svg" alt="right arrow icon svg"> Nella release 1.1 verrà aggiornata una versione 
            aggiornata dello strumento, nella quale sia migliorata la User 
            Experience, nello specifico il menù di disambiguazione sarà attivato 
            sulla parte Sx dell'interfaccia, subito sotto lo strumento di ricerca di 
            Google, sarà gestito raggruppando in macro-gruppi gli oggetti 
            appartenenti allo stesso layer per migliorare la “lettura” del dato, sarà 
            possibile evidenziare gli elementi, posizionarsi sugli stessi ed infine 
            aprire la Scheda di Dettaglio dell'elemento. Anche la Scheda di 
            Dettaglio verrà aperta su una sezione a Sx che si attiverà “sopra” il menù 
            di disambiguazione.
        </li>
        <li>
            <strong> STILE DESIGN LIVELLI ESTERNI </strong> <img src="arrow-right.svg" alt="right arrow icon svg"> Nella release 1.1 verrà implementato 
            uno strumento evoluto che permetterà di configurare in modo più 
            esteso lo stile di rappresentazione degli elementi dei livelli caricati da 
            file esterni. In particolare lo strumento, in funzione della geometria 
            dell'elemento, permetterà di impostare colori, tipo di linea, pattern, 
            spessori, ecc. su un set predefinito di opzioni che verranno arricchite 
            nelle release successive.
        </li>
    </ul>
</div>

<div class="continer" id="q3">
    <h3>4.2 Geo4B water 1.2 (Q3-2024)</h3>
    <ul>
        <li>
            <strong> TOOL DI GESTIONE DEGLI SKETCHES </strong> <img src="arrow-right.svg" alt="right arrow icon svg"> Nella release 1.2 verrà 
            introdotto uno strumento per gestire gli sketches, cioè per disegnare 
            sulla mappa forme geometriche e testi, per salvare quanto disegnato e 
            successivamente per pubblicare ed eventualmente condividere gli 
            stessi. Lo strumento può essere utilizzato per “fissare” su mappa 
            appunti, ipotesi di progettazione ecc. ad uso della struttura del cliente. 
            Così come per gli altri strumenti descritti nel presente documento gli 
            sketches potranno essere creati e salvati come PUBBLICI o PRIVATI in 
            funzione del profilo utente.
        </li>
        <li>
            <strong> LIVELLI AGGIUNTIVI DA FILE </strong> <img src="arrow-right.svg" alt="right arrow icon svg"> La funzionalità sarà aggiornata nella 
            release 1.2 adottando una diversa modalità di upload del file (asincrono 
            vs. sincrono) al fine di superare gli attuali limiti sulle dimensioni. La 
            modalità operativa sarà leggermente diversa dalle attuali.
        </li>
        <li>
            <strong>EXPORT QUERY WIZARD </strong> <img src="arrow-right.svg" alt="right arrow icon svg"> Anche per la funzionalità di export sarà 
            completamente rivista l'architettura e la modalità (asincrono vs. 
            sincrono) in modo da non limitare l'export ai soli elementi riportati in 
            lista ma all'intero risultato della query.
        </li>
    </ul>
</div>