<div style="margin: 0 !important; padding: 0 !important;">
    <div style="margin-top: 150px;"></div>
 
    <div class="title" style="margin-bottom: 50px; padding-top: 50px; padding-bottom: 50px;">
        <h1>
            Contatti<br><br>
            <span style="font-size: 32px;">Home -> Contatti</span>
        </h1>
    </div>

    <div class="d-flex flex-wrap justify-content-around">
        <div class="container map-container">
            <div id="map" class="map"></div>
        </div>
    </div>

    <div class="contact-section">
        <h2>Come puoi contattarci</h2>
        <div class="contact-box">
            <div class="contact-item">
                <i class="fa fa-phone"></i>
                <a href="tel:+39 0721 25089">+39 0721 25089</a>
            </div>
            <div class="contact-item">
                <i class="fa fa-envelope"></i>
                <a href="mailto:info@ebw.com">Mail</a>
            </div>
        </div>
    </div>
</div>
