<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold">GEO4B TELCO</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <mat-expansion-panel (click)="onNavigateTo('/geo4btelco/intro')" class="expansion-no-elements" hideToggle disabled>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span style="color: black;">1. INTRODUZIONE</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </li>

        <!-- Funzionalità del prodotto geo4b water -->
        <li class="mb-1">                
            <mat-expansion-panel (click)="onNavigateTo('/geo4btelco/architettura')" class="expansion-no-elements" hideToggle disabled>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span style="color: black;">2. ARCHITETTURA</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </li>

        <!-- Funzionalità del prodotto geo4b water -->
        <li class="mb-1">
            
            <mat-accordion>
                <mat-expansion-panel (click)="onNavigateTo('/geo4btelco/funzioni')" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>3. FUNZIONALITÁ</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="btn-toggle-nav list-unstyled w-normal pb-1 small">
                        <li><a [routerLink]="['/geo4btelco', 'funzioni']" fragment="layout_interfaccia_utente" class="link-dark rounded">3.1 LAYOUT DELL'INTERFACCIA UTENTE</a></li>
                        <li><a [routerLink]="['/geo4btelco', 'funzioni']" fragment="navigazione_mappa" class="link-dark rounded">3.2 NAVIGAZIONE DELLA MAPPA</a></li>
                        <li><a [routerLink]="['/geo4btelco', 'funzioni']" fragment="selezione_oggetti" class="link-dark rounded">3.3 SELEZIONE OGGETTI SULLA MAPPA</a></li>
                        <li><a [routerLink]="['/geo4btelco', 'funzioni']" fragment="selezione_livelli" class="link-dark rounded">3.4 SELEZIONE LIVELLI</a></li>
                        <li><a [routerLink]="['/geo4btelco', 'funzioni']" fragment="layer_agg_servizio" class="link-dark rounded">3.5 LAYER AGGIUNTIVI DA SERVIZIO</a></li>
                        <li><a [routerLink]="['/geo4btelco', 'funzioni']" fragment="layer_agg_file" class="link-dark rounded">3.6 LAYER AGGIUNTIVI DA FILE</a></li>
                        <li><a [routerLink]="['/geo4btelco', 'funzioni']" fragment="viste" class="link-dark rounded">3.7 LE MIE VISTE</a></li>
                        <li><a [routerLink]="['/geo4btelco', 'funzioni']" fragment="cartografia_di_sfondo" class="link-dark rounded">3.8 GESTIONE CARTOGRAFIA DI SFONDO</a></li>
                        <li><a [routerLink]="['/geo4btelco', 'funzioni']" fragment="street_view" class="link-dark rounded">3.9 STREET VIEW</a></li>
                        <li><a [routerLink]="['/geo4btelco', 'funzioni']" fragment="stampa" class="link-dark rounded">3.10 STAMPA</a></li>
                        <li><a [routerLink]="['/geo4btelco', 'funzioni']" fragment="otdr" class="link-dark rounded">3.11 OTDR</a></li>
                        <li><a [routerLink]="['/geo4btelco', 'funzioni']" fragment="gestione_schiacciamenti" class="link-dark rounded">3.12 TOOL GESTIONE SCHIACCIAMENTI</a></li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
        </li>
        
        <!-- <li class="border-top my-3"></li> -->
    
        <!-- Roadmap di geo4b water -->
        <li class="mb-1">
            <mat-accordion>
                <mat-expansion-panel (click)="onNavigateTo('/geo4btelco/roadmap')" (opened)="roadmapOpenState = true" (closed)="roadmapOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            4. ROADMAP DI PRODOTTO
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a [routerLink]="['/geo4btelco', 'roadmap']" fragment="q2" class="link-dark rounded">4.1 GEO4B TELCO 1.1 (Q2-2024)</a></li>
                        <li><a [routerLink]="['/geo4btelco', 'roadmap']" fragment="q3" class="link-dark rounded">4.2 GEO4B TELCO 1.2 (Q3-2024)</a></li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
        </li>
    </ul>
</div>