

/* @media screen and (max-width: 1000px)
{
  .off-canvas-toggler
  {
    display:flex;
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 200;
    padding-left: 0;
    margin-left: 0;
    width: auto;
    border-radius: 50px;
    background-color:#709cae;
  }

  .offcanvas_half-circle_toggler
  {
    padding-left: 0;
    margin-left: 0;
    width: 50px;
    border-radius: 50px;
  }
} */