.offcanvas-body
{
    margin-top: 12vh;
}

/* @media screen and (width <=1000px) 
{
    .sidebar 
    {
        display: none;
    }
} */


.sidebar 
{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 8vh; 
    left: 0;
    width: 32%;
    height: 100%;
    padding: 0 20px 20px 20px;
    background-color: #2a2e43;
    overflow-y: auto;
    border-radius: 0;
    overflow-y: auto;
    z-index: 1;
}

.content
{
    background-color: rgba(255, 255, 255, 0.849);
    box-shadow: 10px 10px #A8C22E;
    border-radius: 15px;
    width: 60vw;
    position: relative;
    left: 380px;
    top: 9vh;
    padding: 25px;
}

*
{
    text-align: justify;
}