.content
{
    margin-top: 150px;
}

@media screen and (width <= 1000px) 
{
    .sidebar
    {
        display: none;
    }
}

@media screen and (width > 1000px)
{
    .sidebar
    {
        position:fixed;
        border-radius: 10px;
    }   
}

.offcanvas-body
{
    margin-top: 12vh;
}