<div class="container row" style="margin: 0; padding: 0; margin-top: 100px; ">

  @if (menuService.selectedMenu == "geo4bwater")
  {
    <div class="col-5">
      <div class="list-group sidebar">
        <app-geo4b-water/>
      </div>
    </div>
  }
  @else if (menuService.selectedMenu == "geo4btelco")
  {
    <div class="col-5">
      <div class="list-group sidebar">
        <app-geo4b-telco/>
      </div>
    </div>
  }

  <div class="col-sm-12 col-lg-6">
    <router-outlet/>
  </div>
</div>

<!--<p [innerHTML]="paragraph.content"></p>-->

