<div class="product-wrapper" style="margin-bottom: 50px;">
  <div class="sidebar" id="sidebar" style="margin: 0; padding: 0; padding-bottom: 50px;">
    <!-- mostra la sidebar normale o l'offcanvas sidebar del prodotto selezionato -->
    @if(menuService.selectedMenu == 'geo4bwater')
    {
      <app-geo4b-water></app-geo4b-water>
    }
    @else if(menuService.selectedMenu == 'geo4btelco')
    {
      <app-geo4b-telco></app-geo4b-telco>
    }
  </div>
  
  <!-- mostra la user-guide del prodotto selezionato -->
  <div class="content">
    <router-outlet/>
  </div>
</div>