<div class="flex-shrink-0 p-3 product-sidebar-wrapper" style="width: 380px;">
    <a [routerLink]="['/geo4bwater', 'intro']" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold" style="color:white;">GEO4B WATER</span>
    </a>
    <ul class="list-unstyled ps-0">
        <mat-accordion>
            <li class="mb-1">
                <mat-expansion-panel [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'intro']" class="expansion-no-elements" hideToggle disabled>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span style="color: black;">1. INTRODUZIONE</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </li>

        <!-- Funzionalità del prodotto geo4b water -->
            <li class="mb-1">
                <mat-expansion-panel [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'architettura']" class="expansion-no-elements" hideToggle disabled>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span style="color: black;">2. ARCHITETTURA</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </li>

        <!-- Funzionalità del prodotto geo4b water -->
            <li class="mb-1">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'funzioni']">
                        <mat-panel-title>
                            <span>3. FUNZIONALITÁ</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-top: 10px;">
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'funzioni']" fragment="layout_interfaccia_utente">3.1 LAYOUT DELL'INTERFACCIA UTENTE</a></li>
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'funzioni']" fragment="navigazione_mappa">3.2 NAVIGAZIONE DELLA MAPPA</a></li>
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'funzioni']" fragment="selezione_oggetti">3.3 SELEZIONE OGGETTI SULLA MAPPA</a></li>
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'funzioni']" fragment="selezione_livelli">3.4 SELEZIONE LIVELLI</a></li>
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'funzioni']" fragment="layer_agg_servizio">3.5 LAYER AGGIUNTIVI DA SERVIZIO</a></li>
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'funzioni']" fragment="layer_agg_file">3.6 LAYER AGGIUNTIVI DA FILE</a></li>
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'funzioni']" fragment="viste">3.7 LE MIE VISTE</a></li>
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'funzioni']" fragment="query">3.8 LE MIE QUERY</a></li>
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'funzioni']" fragment="cartografia_di_fondo">3.9 GESTIONE CARTOGRAFIA DI SFONDO</a></li>
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'funzioni']" fragment="street_view">3.10 STREET VIEW</a></li>
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'funzioni']" fragment="stampa">3.11 STAMPA</a></li>
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'funzioni']" fragment="gestione_interruzioni">3.12 GESTIONE INTERRUZIONI</a></li>
                    </ul>
                </mat-expansion-panel>
            </li>
    
        <!-- Roadmap di geo4b water -->
            <li class="mb-1">
                <mat-expansion-panel (opened)="roadmapOpenState = true" (closed)="roadmapOpenState = false">
                    <mat-expansion-panel-header [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'roadmap']">
                        <mat-panel-title>
                            4. ROADMAP DI PRODOTTO
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'roadmap']" fragment="q2">4.1 GEO4B WATER 1.1 (Q2-2024)</a></li>
                        <li class="paragraph-list-item"><a class="paragraph-list-item-link" [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'roadmap']" fragment="q3">4.2 GEO4B WATER 1.2 (Q3-2024)</a></li>
                    </ul>
                </mat-expansion-panel>
            </li>
        </mat-accordion>
    </ul>
</div>