<div class="container">
    <p>
        La piattaforma si compone di diversi moduli architetturali e funzionali che 
        permettono di gestire tutte le informazioni legate alle reti di telecomunicazioni 
        civili e ottiche di pertinenza, accedendo alle stesse attraverso Client e modalità 
        diverse a seconda del contesto/fase di processo e/o del profilo utente.
        A seguire sarà presentata una versione sintetica dello schema architetturale, al 
        fine di mostrare una preview delle componenti applicative coinvolte.
        Si rimanda ai documenti dedicati la descrizione di dettaglio di queste 
        componenti, nel presente documento ci si limiterà a descrivere le funzionalità 
        presenti in Geo4B Telco WEB App.
    </p>
    <img src="telco_archi/EBW_Schema_GEO4B.jpg" alt="Cap2" class="img-fluid">
</div>