/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* import del font aziendale */
@font-face 
{
    font-family: Sora;
    src: url(../public/sora-regular.ttf);
}

/* gestione delle dimensioni del font e allineamento del testo */
*
{
    font-family: Sora;
}

.row > *
{
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100vw;
}

@media screen and (width > 1440px) 
{
    *
    {
        font-size: 20px;
        line-height: 1.5em;
    }

    h3 
    {
        font-size: 45px !important; 
    }

    h2
    {
        font-size: 50px !important;
    }
}

P
{
    text-align: justify;
}

/* aggiustamento minor features */
*::selection 
{
    background-color: #A8C22E;
    color: black;
}

.container
{
    margin-top: 7vh;
}

/* aggiunta di border radius e gestione aspect ratio per evitare pesantezza della pagina */
img
{
    aspect-ratio: 1280 / 720;
    border-radius: 15px;
}

/* fix di margin e padding indesiderati nella pagina */
html, body { height: 100%; }
body { margin: 0;}

.row
{
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
