/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


@font-face 
{
    font-family: Sora;
    src: url(../public/sora-regular.ttf);
}

*
{
    font-family: Sora;
}

.row
{
    margin: 0;
    padding: 0;
}

.col-12
{
    margin: 0px;
    padding: 0px;
}

P
{
    text-align: justify;
}


.container
{
    margin-top: 7vh;
}


