/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


@font-face 
{
    font-family: Sora;
    src: url(../public/sora-regular.ttf);
}

*
{
    font-family: Sora;
}

@media screen and (min-width: 1400px) {
    *
    {
        font-size: 0.9vw;
        line-height: 1.5em;
    }

    h3
    {
        font-size: 1.6vw !important;
    }
}

/* @media screen and (min-width: 2000px)
{
    *
    {
        font-size: 1.1vw;
        line-height: 1.5em;
    }

    h3
    {
        font-size: 1.8vw !important;
    }
} */


.row
{
    margin: 0;
    padding: 0;
}

P
{
    text-align: justify;
}


*::selection 
{
    background-color: #A8C22E;
    color: black;
}


.container
{
    margin-top: 7vh;
}

img
{
    aspect-ratio: 1280 / 720;
    border-radius: 15px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
