<div class="container">
    <p>
        Il presente documento è il Manuale Utente del Client WEB della Piattaforma 
        Geo4B Telco release 1.0, il prodotto verticale basato sulla Piattaforma Geo4B 
        Core di EBWorld per la gestione delle <strong> infrastrutture delle reti di 
        telecomunicazioni in Fibra Ottica.</strong>
        Nel documento saranno elencate e descritte le funzionalità presenti nella 
        release di prodotto, sia quelle comprese nel pacchetto Geo4B Core sia quelle 
        specifiche del verticale Telco.
        Le immagini, i loghi e quanto riportato nel prosieguo del documento sono 
        puramente indicativi, non è escluso infatti che le singole installazioni e le 
        configurazioni di prodotto necessarie ai singoli casi abbiano un aspetto 
        diverso da quello qui mostrato.
        La release 1.0 della <strong> Piattaforma Geo4B Telco </strong> prevede l'integrazione diretta e 
        completa con il software di Network Inventory, <strong> GE Smallworld Core </strong>, sul quale 
        sono stati implementati il Modello dei Dati e le Funzionalità necessarie alla 
        gestione dell'infrastruttura dedicata al ciclo integrato delle reti. Nelle pagine 
        che seguono funzionalità e schemi architetturali fanno quindi riferimento ad un 
        Backend della Piattaforma basato su GE Smallworld Core.
        Nel presente documento, Geo4B Telco, sarà indicata indistintamente come 
        Piattaforma e/o Prodotto, nel primo caso si farà riferimento all'intero 
        ecosistema, nel secondo caso al Client WEB oggetto del presente Manuale 
        Utente.
        Nell'ultimo paragrafo del documento sarà presentata una <strong> roadmap di prodotto </strong>
        con l'elenco e la descrizione delle funzionalità che saranno introdotte nelle 
        successive release previste per l'anno 2024.
        Si precisa che le immagini mostrate nel presente documento, pur 
        rappresentando l'interfaccia utente generale della piattaforma Geo4B 
        potrebbero differire nei singoli Use Case sia in termini di rappresentazione 
        grafica sia in termini di contenuti.
    </p>

</div>