<div style="margin: 0px; padding: 0px; margin-top: 18vh;">
    <div class="home_wrapper">
        <!-- bottoni di scelta di una delle due guide -->
        <div class="product-button-wrapper">
            <button [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4btelco','intro']" class="btn"><img src="telco-logo-1000px.jpg" class="img-fluid product-img" alt="telco logo"></button>
        </div>

        <div class="product-button-wrapper">
            <button [routerLinkActiveOptions]="linkActiveOption" [routerLinkActive]="['active']" [routerLink]="['/geo4bwater', 'intro']" class="btn"><img src="water-logo-1000px.jpg" class="img-fluid product-img" alt="water-logo"></button>
        </div>
    </div>
</div>


<!-- <router-outlet></router-outlet> -->
<!-- ['/geo4b', 'telco','intro'] -->
<!-- ['/geo4b', 'water', 'intro'] -->