/*stile per il contenitore dei bottoni*/
.home_wrapper
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 150px;
}

/*stile per le immagini dei prodotti*/
.product-img
{
    border-radius: 20px;
    width: 450px;
    height: 450px;
    transition: transform 0.7s ease;
}

.product-img:hover
{
    transform: scale(1.05);
}

.product-title
{
    color: white;
    font-weight: 900;
    font-size: larger;
    text-align: center;
    padding-bottom: 15px;
}

/*ridimensionamento delle immagini e dei contenitori per schermi di dimensioni ridotte*/
@media screen and (max-width: 499px) {
    .product-img
    {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) 
{
    .product-button-wrapper
    {
        width: 500px;
        height: 500px;
    }
}


@media screen and (min-width: 769px)
{
    .product-img
    {
        width: 575px;
        height: 575px;
    }    
}

@media screen and (min-width: 1599px) 
{
    .product-img
    {
        width: 800px;
        height: 800px;
    }
    
}